$success: #4caf50;
$success-shadow: #ccff90;

$cancel: #eb0100;
$cancel-shadow: #ffdede;

$wheat: #f5deb3;
$wheat-shadow: rgb(203, 179, 134);
$wheat-shadow--light: rgb(139, 117, 76);
$wheat-shadow--dark: rgb(46, 40, 29);


$disabled: #cccccc;
$disabled-shadow: #c6c6c6;

$main-shadow: #ffffff13;
$main-color: #282c34;
$backdrop-shadow: rgba(87, 87, 87, 0.8);
$gold: #ffd700;
